# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Data
data/raw/*
data/cleaned/*
data/chunks/*
data/embeddings/*
data/generated_docs/*

# Keep folders
!data/raw/.gitkeep
!data/cleaned/.gitkeep
!data/chunks/.gitkeep
!data/embeddings/.gitkeep
!data/generated_docs/.gitkeep

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Black
.cache/